img {
    height: 200px;
    width: 200px;
    margin: 6px 6px;
    border-radius: 12px;
}

body {
    width: 960px;
    margin-left: 18%;
    height: 1200px;
    margin-top: 3%;
    background-image: url("https://static.turbosquid.com/Preview/2019/01/31__09_27_28/IMAGE1.jpgDAC5B3DB-F1EC-4AC8-BABE-65FC9966F1A2Default-28.jpg");
    background-size: 100%;
    opacity: 0.92;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
}

.directions {
    padding: 2rem;
    background: lightgoldenrodyellow;
    border-radius: 20px;
}

.game-figure {
    margin-top: 5%;
    color: white;
    font-family: 'Acme', sans-serif;
}

.round-total {
    padding: 2rem;
    color: wheat;
    font-family: 'Acme', sans-serif;
}

.crystals {
    padding: 1rem;
}

#game-title {
    font-size: 72px;
    font-family: 'Homemade Apple', cursive;
    margin-bottom: -1rem;
}

.scorecard {
    color: white;
    font-family: 'Acme', sans-serif;
}

#wins-text {
    border-style: dashed;
    margin: 1%;
    padding: 0 1rem;
    border-width: 5px;
}

#losses-text {
    border-style: dashed;
    margin: 1%;
    padding: 0 1rem;
    border-width: 5px;
}

#text-align {
    margin-bottom: 3%;
}

p {
    font-size: 16px;
    font-family: 'Acme', sans-serif;
}

button {
    border-radius: 15px;
}

.jumbotron {
    border-radius: 20px;
}

/* font-family: 'Homemade Apple', cursive;
font-family: 'Acme', sans-serif; */